body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/media/fotos/fondos.png);
}
.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fcfcfc;
}
.logo img {
    border-radius: 4px;
    margin: 3px;
}
.navbar {
    background-color: #222327;
    color: white;
}

.nav-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-items ul li {
    margin-right: 20px;
}

.nav-items ul li a {
    text-decoration: none;
    color: #fefefe;
    transition: color 0.3s ease;
    font-weight: 500;
}

.nav-items ul li a:hover {
    color: #2bf267;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    font-weight: 500;
}

form{
    /* display: flex; */
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    margin: 50px 0;
}
.citaf{
    margin: 50px auto;
    background-color: white;
}
.input-form{
    display: flex;
    flex-direction: column;
    text-align: center;

}
h2{
    color: #283629;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid  #f0faf1;
    color: #283629;

    outline: none;
}
input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form-text{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-text a{
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #000000;
    border: 0;
    border-radius: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.29);
    cursor: pointer;
}

.btn:hover{
    background-color: #50e04b;
}

/*FOOTER*/
.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #53c59f;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffffda;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #53c59f;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgb(255, 255, 255);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #53c59f;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #53c59f;
}
.logo-col {
  text-align: center;
  
}
.logo-col img {
  max-width: 100px;
  margin-bottom: 10px;
  border-radius: 30%;
}
.logo-col p {
  font-size: 14px;
  color: #ffffffda;
}

/*responsive footer (hecho por santi wachin)*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .logo-col {
    width: 100%;
  }
}


@media(max-width:768px){
    .menu-toggle {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-items.active {
        display: block;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}
