
.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fcfcfc;
}
.navbar {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.nav-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-items ul li {
    margin-right: 20px;
}

.nav-items ul li a {
    text-decoration: none;
    color: #fefefe;
    transition: color 0.3s ease;
}

.nav-items ul li a:hover {
    color: #2bf267;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.registroMascota{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    /* display: flex; */
    padding: 20px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    margin-top: 100px;
}
.input-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}
h2{
    color: #283629;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea, .input{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid  #f0faf1;
    color: #283629;

    outline: none;
}
input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form-text{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.form-text a{
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btnForm{
    font-size: 16px;
    color: #000000;
    border: 0;
    border-radius: #51d94c;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.29);
    cursor: pointer;
}

.btnForm:hover{
    background-color: #50e04b;
}


@media(max-width:991px){
    body{
        padding: 0%;
    }
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-items.active {
        display: block;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    body{
        padding: 30px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}
