:root {

    --bg-color: #0c0c0d;
    --text-color: #fff;
    --main-color: #53c59f;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./media/fotos/fondos.png);
}
/* /navbar/ */
.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fcfcfc;
}
.navbar {
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.nav-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-items ul li {
    margin-right: 20px;
}

.nav-items ul li a {
    text-decoration: none;
    color: #fefefe;
    transition: color 0.3s ease;
}

.nav-items ul li a:hover {
    color: #2bf267;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
/* HOMEPAGE */

/* /informacion/ */
.header-content{
    display: flex; 
    padding: 50px 0 70px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    border-radius: 10px;
    border: 1px solid rgb(227, 226, 226);
    margin: 30px;
} 

.header-txt{
    width: 40%;
    margin:0% auto
}

.header-txt h1{ 
    font-size: 350%;
    line-height: 70px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}

.header-txt p{
    font-size: 150%;
    color: #000000;
}
.imagenes{
    margin: 0 auto;
    box-sizing: content-box;
    width: 300px;
    height: 300px; 
    overflow: hidden; 
    border-radius: 5px;
}
.imagenes img{
    width: auto;
    height: auto; 
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}


.botones{
    display: flex;
    margin-top: 50px;
}

.btn-1,
.btn-2{
    display: inline-block;
    background-color: #96ED89;
    padding: 10px 35px;
    margin-right: 20px;
    color: #000000;
    border-radius: 25px;

}
.btn-2{
    background: none;
    border: 1px solid #96ED89;
}

.btn-1:hover{
    background-color: #96ED89;
}
.btn-2:hover{
    background-color: #96ED89;
    border: 1px solid #96ED89;
}

/* /pasos registro/ */
.paso{
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid rgb(227, 226, 226);
    height: 40%;
    width: 70%;
}
.pasos{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 150%;
    margin: 0 auto;
    text-align: center;

}
.npasos{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    display: inline-block;
    background-color: rgba(7, 211, 31, 0.32);
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
}
.ipasos{
    text-align: center;
}
.pasos{
    width: 100%;
    height: 100%;
}
/* /preguntas frecuentes/ */

 .preguntas{
    background-color: white;
    margin-bottom: 150px;
 }
 .titulop{
    text-align: center;
 }
 .pregunta {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    margin: 0 30px 0 30px;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
}
.respuesta {
    display: none;
    margin-bottom: 20px;
    background-color: #000000;
    border-color: white;
    color: white;
    border: 2px solid black;
    margin: 0 30px 0 30px;
    padding: 10px 10px 10px 10px;
}
/* /footer/ */
footer{
    background-color: #ffffff;
}

/* /NOSOTROS/ */
.nosotros{
    background-color: white;
    text-align: center;
    margin: 30px 30px 30px 30px;
    border-radius: 9px;
}
.surgio{
    background-color: white;
    text-align: center;
    margin: 30px 30px 30px 30px;
    border-radius: 9px;
}
/* /Mascota/ */

.buscador{
    margin:30px auto;
    background-color: #ffffff;
    width: 400px;
    height: 150px;
    text-align: center;
    padding-top: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px green;
}
.buscador button{
    border-radius: 5px;
    background-color: #2bf267;
}
.mascotacard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.animal{
    width: 400px;
    height: 900px;
    background-color: rgb(249, 249, 249);
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 20px green;
}
.animal h2{
    font-family: "Poetsen One", sans-serif;
}
hr{
    width: 60%;
    margin: auto;
    margin-bottom: 5px;
}

.ianimal{
    width: 250px;
    height:250px;
    overflow: hidden; 
    box-sizing: content-box;
    border-radius: 50%;
    margin:5px auto;
}
.ianimal img{
    width: auto;
    height: auto; 
    max-width: max-content;
    max-height: 100%; 
    object-fit: contain;
    filter: drop-shadow(1px 1px 20px green);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .nav-items {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-items.active {
        display: block;
    }

    .nav-items ul {
        flex-direction: column;
    }

    .nav-items ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .imagen{
        width: 200px;
    } 
    .header-content{
        flex-direction: column-reverse;
        margin: 10px 10px 10px 10px;
    }
    .header-txt{
        width: 100%;
        margin: 0px auto;
        padding: 10px;
    }
    .textop{
        font-size: 50%;
    }
    .desplazar{
        display: none;
    }
    .botones{
        text-align: center;
        font-size: 100%;
    }
    .nose{
        font-size: 70%;
    }
    .nose h1{
        font-size: 300%;
    }
    .buscador{
        width: 350px;
    }
    .mascotacard{
        width: 350px;
    }
}